{% extends 'kst/base.html' %}

{% block body %}
{% load static %}

   <section id="hero3" class="d-flex align-items-center">

      <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">

<!--          <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">-->
<!--            <img src="assets/img/Images/Slider-text.png" class="img-fluid animated" alt="" style="margin-left: -400px;">-->
<!--          </div>-->
        </div>
      </div>

    </section><!-- End Main -->
<div class="container">
		<div class="col-md-12 mt-2 row mt-5" id="about_us">

        <div class="col-md-6">
        	 <h2 style="color: #2244ff;" class="my-5"><b>Website Development</b></h2>
        	 <p>We are a team of professional, energetic individuals with talented designers and developers to guide our client through flawless and timely execution of any project we work on. Since day one we have been delivering creative and unique websites, mobile applications and software projects. We offer flexible & reliable websites and applications. <br><br>
        	 	We are the through-leaders in the domain of professional IT services in implementing world-class infrastructure and technology
        	   </p>

        </div>
        <div class="col-md-6" >
        	  <figure>
        	  	 <img src="{% static './assets/img/Images/WEBSITE DEVELOPMENT.png'%}" class="img-fluid" alt="person talking on mobile pic">

        	  </figure>
        	</div>


      </div>

      <div class="col-md-12 mt-2 row" id="about_us">


        <div class="col-md-6">  <!-- shadow-lg p-1 bg-white -->
        	  <figure>
        	  	 <img src="{% static './assets/img/Images/DIGITAL MARKETING.png'%}" class="img-fluid" alt="our founder Pic">

        	  </figure>
        </div>

        <div class="col-md-6">
        	 <h2  style="color: #2244ff;" class="my-5"><b>App Development </b></h2>
        	 <p>
        	 	Rushikesh Shinde Founder and Chairperson  <br>
        	 	In business a founder is an individual who forms and establishes a business the Founder is typically responsible for setting the mission and vision of a company essentially a founder takes a business from an idea to an entity. In our company our Founder is from village call Rahuri in Ahmednagar from that village where dreams. <br> <br>
        	 	started to company where dream becoming true his journey started at age of 18 His name is Mr. Rushikesh Shinde he is just 18 years old and can code in 12  to handle academics and profession at this age where everyone enjoying their life he faced alot of struggle to form this company
        	 	<br><br>
        	 	He is good poet, horse rider, swimmer and athlete as well as a good cook he loves to click photos of nature even nature lover and many more...

        	   </p>

        </div>

        <div class="row">

             <div class="col-md-6">
             <h2 style="color: #2244ff;" class="my-5"><b>Digital Marketing / Project</b></h2>
             <p>We are a team of professional, energetic individuals with talented designers and developers to guide our client through flawless and timely execution of any project we work on. Since day one we have been delivering creative and unique websites, mobile applications and software projects. We offer flexible & reliable websites and applications. <br><br>
                We are the through-leaders in the domain of professional IT services in implementing world-class infrastructure and technology
               </p>

        </div>
        <div class="col-md-6" >
              <figure>
                 <img src="{% static './assets/img/Images/CREATIVE DESIGN.png'%}" class="img-fluid" alt="person talking on mobile pic">

              </figure>
            </div>

        </div>


      </div>
</div>
      <div class="row"  id="bgimg">
   <!-- <div>

       <figure>
            <img src="./assets/img/Images/41-iMac-Pro-Isometric-Left2.png" alt="laptop pic" height="350px" width="auto" style="margin-left: 264px;">

        </figure>
   </div> -->


      </div>
<div class="container">
      <div class="row">
         <div class="col-md-6">
             <h2 style="color: #2244ff;" class="my-5"><b>Website Development</b></h2>
             <p>We are a team of professional, energetic individuals with talented designers and developers to guide our client through flawless and timely execution of any project we work on. Since day one we have been delivering creative and unique websites, mobile applications and software projects. We offer flexible & reliable websites and applications. <br><br>
                We are the through-leaders in the domain of professional IT services in implementing world-class infrastructure and technology
               </p>

        </div>
        <div class="col-md-6 my-5" >
              <figure>
                 <img src="{% static './assets/img/Images/Android, iOS, Windows APP Devlopment.png'%}" class="img-fluid" alt="person talking on mobile pic">

              </figure>
            </div>

      </div>
</div>

    <br> <br>
      <div class="row b" id="dmgm" style="height:50vh;">

         <div id="datadiv" class="col-md-6">
            <img src="{% static './assets/img/Images/Data.png'%}" alt="data"  height="250px" width="400px">

         </div>
         <div class="col-md-6 text-black ">
            <h2 class="my-3" style="text-align: left;">Data Management System</h2>
            <p>We provide an efficient database management software should have following features: Low Repetition and Redundancy. Easy Maintenance of Large Data-bases, Enhanced Security; Improved File Consistency : Multi-User Environment Support.</p>
            <a class="bg-primary" href="https://" title="" style="color: white; font-weight: 1000 ; padding: 5px;">Read More</a>

         </div>


      </div>
      <div class="p-1">
        <img src="{% static './assets/img/Images/CyberSecurity.png'%}" height="50%" width="100%" alt="cyber">
         <div class="col-md-6" style="position: relative; bottom: 40vh;">
             <h2 class="text-white">Cyber Security</h2>
          <p class="text-white">Cyber security is the practise of protecting networks,systems,hardware and data from digital attacks. Our guide will bring you up-to-speed on the field of cybersecurity, including types of cyber attacts and its growing global importance in a digital world.  </p>

         </div>
      </div>

{% endblock %}